{% extends "base.html" %}

{% block header %}
    <h2>登録</h2>
{% end %}
{% block body %}
    <form method="POST">
        {% raw xsrf_form_html() %}
        <p><span>ユーサﾞー名:</span><input type="text" id="username"/></p>
        <p><span>ハﾟスワートﾞ:</span><input type="password" id="password" /></p>
        <p><span>ハﾟスワート確認:</span><input type="password" id="password2"/></p>
        <p><span>メールアドレス:</span><input type="text" id="mailaddress"/></p>
        <p><input type="BUTTON" value="提出する" id="registersubmit" /></p>
    </form>
{% end %}